<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to Christopher Dean's Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/login.css" />

    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    ></script>
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script src="../public/js/login.js"></script>
  </head>
  <body>
    <!-- SOURCED FROM BOOTSNIP:  https://bootsnipp.com/snippets/8b7n -->
    <div class="container">
      <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
          <form action="" method="">
            <input name="user" type="text" placeholder="username" />
            <input type="password" placeholder="password" />
            <button
              class="btn btn-info btn-block login"
              type="submit"
            >Login</button>
          </form>
        </div>
      </div>

    </div>
  </body>
</html>